/* font @import */

:root {
  background-image: url(https://th.bing.com/th/id/R.f1c24752b6ebb623783ab217dcfe3d09?rik=X7hni%2bjBK%2bNAHg&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f8GzcmK7.jpg&ehk=ixq0fVpKxZS27qoTVrTjMtJw3zejyI%2fLB6cmmdKIBP8%3d&risl=&pid=ImgRaw&r=0);
  background-size: cover;
}

* {
  box-sizing: border-box;
}

body {
  background-blend-mode:saturation;
  padding-inline: 20px;
    }

    #container {
      font-display:inherit;
      justify-items: center;
      display: grid;
      color: black;
    }

    @media (min-width: 500px) {
      #container {
        grid-template-columns: 50% 50%;
        grid-row:auto;
        align-items: center;
        grid-gap: 85px;
      }
    

    #image {
      height: 400px;
      width: 400px;
    }

    #inputs {
      width: 100%;
      max-width: 400px;
      height:100%;
      max-height: 300;
    }

    label, input, select textarea {
      display: block;
      width: 100%;
      align-content: center 50,50;
      margin-bottom: 2px;
    }

    label {
      text-transform: uppercase;
      margin: 26px,;
      height: 20px;
    }

    textarea {
      resize:none;
      height: 60px;
      
    }